<h1>Data Viz</h1>

<h2>Helping to compare multiple government data sets</h2>

<form action="/local_gov_areas/show">
  <label>
    Search for your Local Government Area:
    <input type="search" name="name" required placeholder="Ararat">
  </label>
  <button>Search</button>
</form>
